a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ffc85e;
}

.yta_Home {
    height: 600px;
    height: 100vh;
    background-color: #ffc85e;
    background-image: url(../images/bg-home.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yta_AboutUs { 
    position: relative; 
    background-color: #f06252; 
    padding: 64px; 
    text-align: center; 
    overflow: hidden;
}

.yta_AboutUs-container {
    position: relative;
    z-index: 1;
}

.yta_AboutUs-container-dog {
position: relative;
display: inline-block;
padding-bottom: 30px;
margin-bottom: 20px;
}

.yta_AboutUs-container-dog-isologo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
}

.yta_AboutUs-container-title { 
color: #553457; 
font-size: 28px; 
text-align: center; 
text-transform: uppercase; 
}

.yta_AboutUs-container-desc { 
color: white; 
margin-top: 15px; 
} 
    
.yta_AboutUs-pawPrint { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    opacity: 0.1; 
}

.yta_AdoptMe {
    background-color: black;
}

.yta_AdoptMe-title {
    background-color: #ffc85e;
    text-align: center;
    padding: 32px;
    text-transform: uppercase;
    font-size: 28px;
    color: #553457;
}

.yta_AdoptMe-card {
    background-color: #553457;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.yta_AdoptMe-card-img {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.yta_AdoptMe-card-img + div {
    padding: 30px;
}

.yta_AdoptMe-card h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.yta_Camp {
    background-color: #f06252;
    padding: 64px;
    text-align:center;
}

.yta_Camp-title {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffc85e;
}

.yta_Camp-card {
    color: white;
}

.yta_Camp-map {
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 32px auto;
}

.yta_Camp-card h3{
    font-size: 20;
    text-transform: uppercase;
}

footer {
    background-color: #553457;
    color: white;
    text-align: center;
    padding: 32px;
}

footer ul li {
    display: inline-block;
    margin: 10px 5px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

/*footer ul li:nth-child(2x1){
    background-color: red;
}*/
